**/node_modules/
**/.idea/
**/bin
**/obj
tcp-examples/C++/Builds/VisualStudio2013/Debug/
tcp-examples/C++/Builds/VisualStudio2013/Release/
*.sdf
web-examples/index.html
web-examples/images/
web-examples/connection-test/index.html
