body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 32px;
    line-height: 60px;
    color: #fff;
    margin-top: 15px;
}

#wrapper {
    padding-left: 250px;
}

#sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    padding: 20px;
    position: relative;
}

.flexed {
    display: flex;
}

.flexed input {
    flex: 2;
}